.anouncement__container {
    margin: 100px;
    display: flex;
}

.add__anouncement {
    width: 100%;
    display: flex;
    background-color: #DBE6F8;
}

.add__anouncement form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.announcement__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
}

.announcement__body textarea {
    height: 200px;
    width: 400px;
}

.submit {
    width: 290px;
    height: 56px;
    background: #484DC0;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer
}

.submit:hover {
     background: #6f72cc
}