.landingpage__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Search Course Section */

.landingpage__searchcourse {
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 30px;
    color: #1d1919;
    position: absolute;
    top: 110px;
    left: 0;
    padding: 20px;
    cursor: pointer;

}

.landingpage__searchcourse:hover {
    color: rgb(17, 15, 146);
}

/* Middle Section styles */
.landingpage__middle {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.landingpage__middle__left {
    width: 351px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;;
}

.text {
    text-align: center;
    letter-spacing: 2px;
}

.sign_btn {
    width: 290px;
    height: 56px;
    background: #484DC0;
    border-radius: 35px;
    color: white;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    cursor: pointer;
   
}

.sign_btn:hover{
    background: #6f72cc;
}

.landingpage__middle__right {
    width: 824.57px;
    height: 671.39px;
}

.image {
    width: 100%;
}


/* Teacher Login Section */

.landingpage__teacher__login {
    width: 100%;
    height: 150px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    padding: 20px;
}

.teacherIcon {
    cursor: pointer;
}


/* Footer Section */

footer {
    height: 40px;
    width: 100%;
    font-size: 10px;
    line-height: 28px;
    letter-spacing: 0.06em;
    color: #494040;
    border-top: 1px solid gray;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    position: fixed;
    margin-left: 38px;
}

@media (max-width: 700px) {

    .landingpage__middle {
        flex-direction: column;
        max-width: 87%;
        max-height: 53%;
    }
    .landingpage__middle__left {
        font-size: 13px;
    }
    .landingpage__middle__right {
        max-width: 62%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
}