.sidebar_menu_container {
    display: flex;
    align-items: flex-start;
    height: 420px;
    width: 450px;
    align-content: center;
    line-height: 70px;
    margin-bottom: 20px;
}

.sidebar_menu_content {
    margin: 10px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.sidebar_menu_content p{
    margin: 0;
    font-size: 36px;
    font-weight: 900;
}

.sidebar_menu_content p:hover {
    color: #0f74ad;
    cursor: pointer;
}

